#phone-block {
    background: #F5F5F5;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5vw 5vw 0vw 5vw;
    padding: 5vw 0 5vw 0;
    }

/* checkbox */

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 3.125rem !important;
    font-size: 1rem;
}

#img-piece {
    margin: 1vw 10vw 1vw 10vw;
    min-width: 8rem;
    width: 20vw;
}

.checkbox-color:checked {
    background-color: #00BFB2!important;
    border-color: #00BFB2!important;
}

#arrow {
    display: none;
}

.arrow1 {
    display: block;
    position: relative;
    left: 12.54%;
    right: 34.48%;
    top: 27.68%;
    bottom: 70.86%;
    box-sizing: border-box;
    transform: rotate(24.66deg);
}


@media (max-width: 767.98px) { 

    .form-check {
        font-size: 0.7rem
    }

    @media (max-width: 575.98px) { 

        #img-piece {
            margin: 1vw 2vw 1vw 2vw;

        }
        


    }
}
